mixin station-item (name, value)
  li.station 
    .station__details
      button.details__button 
        img.details-icon(src="images/minus.png")
        
      .details__picture
        img.details-img(src='images/' + name + '.jpg')
          
      button.details__button 
        img.details-icon(src="images/plus.png")
          
    button.station__header
      h2.station-name= name + ' FM'
      p.station-value= value
       
            
            
doctype html
html
  head
    meta(charset="utf-8")
    title Radio Station
    link(rel="stylesheet" href="styles/style.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700")

  body
    .widget
      .header
        button.header__button.button(type="button" name="back")
          img.button-icon(src="images/back-arrow.png" alt=" ")
        h1.header__title stations
        button.header__button.button(type="button" name="switch")
          img.button-icon(src="images/switch.png" alt=" ")

      -
        var list = [
          { name:"Putin", value: "66,6" }, 
          { name:"Dribbble", value: "101,2" }, 
          { name:"Dogee", value: "99,4" }, 
          { name:"Ballads", value: "87,1" }, 
          { name:"Maximum", value: "142,2" }
        ] 
          
      .stations
        each item in list
          +station-item(item.name, item.value)


      .footer
        p.footer__info current station
        p.footer__station
        

    script(src="js/index.js")
