!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title Radio Station
    %link(rel="stylesheet" href="styles/style.css")

  %body
    .widget
      %header.header
        %button.header__button.button(type="button" name="back")
          %img.button-icon(src="images/back-arrow.png" alt=" ")
        %h1.header__title stations
        %button.header__button.button(type="button" name="switch")
          %img.button-icon(src="images/switch.png" alt=" ")
